/*****BASE STYLES*****/
body {
  font-family: 'Open Sans Condensed', sans-serif;
}

/*****GRID*****/
.full-width{
  width: 1200px;
  float: left;
  margin: 0 auto;
}

.half-width {
  float: left;
  width: 600px;
}
.two-thirds-width {
  float: left;
  width: 800px;
}
.third-width {
  float: left;
  width: 400px;
}

.poem-width {
    background: #bfd9d9;
    float: left;
    width: 250px;
    height: 250px;
    border: 3px solid black;
    border-radius: 10%;
    margin-left: 30px;
    margin-right: 10px;
    margin-bottom: 40px;
}
/*****HEADER*****/
h1 {
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 65px;
  font-variant: small-caps;
  font-weight: bold;
  margin: 5px;
  padding: 1px 20px 0px 0px;
  text-align: right;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  margin-left: 40px;

}

#top-banner {
  background: url('../img/eyes.png') no-repeat;
  background-size:contain;
  margin-left: 40px;
  margin-top: 40px;
}

nav ul li {

  display: inline-block;
  padding: 270px 0px 0px 0;
  text-transform: uppercase;
  margin-bottom: 0 auto;
}

#top-banner a {
  color: white;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  padding-right: 40px;
}
/*****MUSIC*****/
#music, .half-width {
  margin-top: 0 auto;
  padding-top: 0px;
}

#music h3 {
  margin-bottom: 0 auto;
  padding-bottom: 0px;
}
/*****POEMS*****/
h2 {
  font-family: 'Oswald', sans-serif;
  margin-bottom: 0 auto;
  margin-left: 40px;
  padding-left: 80px;
  text-transform: uppercase;
  border-bottom: 2px solid black;
  width: 1120px;
}

#poems h2{
  padding-top: 25px;
}

.poem-width h4  {
  font-size: 25px;
  padding-top: 65px;
  padding-bottom: 0;
  text-align: center;
}

.poem-width a {
  color: black;
  text-decoration: none;
}



/*****SCRIPTS*****/

#scripts p {
  margin-left: 40px;
  margin-top: 0 auto;
}

#scripts, .half-width {
  margin-top: 0 auto;
  padding-top: 0;
}
